{% extends 'base.html.twig' %}
{% block body %}

<h2 class="text-center gap-4"><strong>Conditions generales d'utilisation</strong></h2>

<p>Bienvenue chez !</p>

<p>Ces termes et conditions dcrivent les rgles et réglementations d'utilisation du site Web de lou is bornante, situ <a href='index.php'>https://ecommercefluo.com</a>.</p>

<p>En accdant ce site Web, nous supposons que vous acceptez ces termes et conditions. Ne continuez pas à utiliser lou is bornante si vous n'acceptez pas tous les termes et conditions énoncs sur cette page.</p>

<p>La terminologie suivante s'applique aux prsentes conditions gnrales, la déclaration de confidentialit et l'avis de non-responsabilit ainsi qu' tous les accords : Client, vous et votre  font rfrence vous, la personne connecte ce site Web et conforme aux conditions et conditions. La Socit , « Nous-mmes , Nous , Notre et Notre » font rfrence notre Socit. Partie,  Parties ou  Nous dsignent la fois le Client et nous-mmes. Tous les termes font rfrence l'offre, à l'acceptation et la prise en compte du paiement ncessaire pour entreprendre le processus de notre assistance au Client de la manire la plus approprie dans le but exprs de rpondre aux besoins du Client en ce qui concerne la fourniture des services dclars de la Socit, conformment et sous rserve de la loi en vigueur aux Pays-Bas. Toute utilisation de la terminologie ci-dessus ou d'autres mots au singulier, au pluriel, en majuscules et/ou il/elle ou ils, sont considrs comme interchangeables et donc comme faisant rfrence ceux-ci.</p>

<h4><strong>Cookies</strong></h4>

<p>Nous utilisons des cookies. En accdant lou is bornante, vous avez accept d'utiliser des cookies conformment à la politique de confidentialit de lou is bornante.</p>

<p>La plupart des sites Web interactifs utilisent des cookies pour nous permettre de rcuprer les dtails de l'utilisateur chaque visite. Les cookies sont utiliss par notre site Web pour activer la fonctionnalit de certaines zones afin de faciliter la tche des personnes visitant notre site Web. Certains de nos partenaires affilis/publicitaires peuvent galement utiliser des cookies.</p>

<h4><strong>Licence</strong></h4>

<p>Sauf indication contraire, lou is bornante et/ou ses concdants de licence dtiennent les droits de proprit intellectuelle sur tout le matriel prsent sur lou is bornante. Tous les droits de proprit intellectuelle sont réservs. Vous pouvez y accder depuis lou is bornante pour votre usage personnel, sous rserve des restrictions définies dans les prsentes conditions gnrales.</p>

<p>Vous ne devez pas:</p>

<ul>
    <li>Republier le matriel partir de lou is bornante</li>
    <li>Vendre, louer ou sous-licencier du matriel auprs de lou is bornante</li>
    <li>Reproduire, dupliquer ou copier du matriel partir de lou is bornante</li>
    <li>Redistribuer le contenu de lou is bornante</li>
</ul>

<p>Le prsent accord entrera en vigueur la date des prsentes.</p>

<p> Certaines parties de ce site Web offrent aux utilisateurs la possibilit de publier et d'changer des opinions et des informations dans certaines zones du site Web. lou is bornante ne filtre, ne modifie, ne publie ni ne rvise les commentaires avant leur prsence sur le site Web. Les commentaires ne refltent pas les points de vue et opinions de lou is bornante, de ses agents et/ou socits affilies. Les commentaires refltent les points de vue et les opinions de la personne qui publie ses points de vue et ses opinions. Dans la mesure permise par les lois applicables, lou is bornante ne sera pas responsable des commentaires ni de toute responsabilité, dommage ou dpense causé et/ou subi la suite de toute utilisation et/ou publication et/ou apparition des commentaires sur ce site Web.</p>

<p>lou is bornante se rserve le droit de surveiller tous les commentaires et de supprimer tout commentaire qui peut tre considr comme inappropri, offensant ou qui entraîne une violation des présentes conditions gnrales.</p>

<p>Vous garantissez et dclarez que:</p>

<ul>
    <li>Vous avez le droit de publier des commentaires sur notre site Web et disposez de toutes les licences et autorisations ncessaires pour le faire;</li>
    <li>Les commentaires n'empitent sur aucun droit de proprit intellectuelle, y compris, sans limitation, les droits d'auteur, les brevets ou les marques de tiers ;</li>
    <li>Les commentaires ne contiennent aucun lment diffamatoire, offensant, indcent ou autrement illgal constituant une atteinte la vie prive</li>
    <li>Les commentaires ne seront pas utiliss pour solliciter ou promouvoir des activits commerciales ou personnalises ou prsenter des activits commerciales ou des activits illégales.</li>
</ul>

<p>Vous accordez par la prsente à lou is bornante une licence non exclusive pour utiliser, reproduire, diter et autoriser d'autres personnes utiliser, reproduire et diter n'importe lequel de vos commentaires sous toutes formes, formats ou supports.</p>

<h4><strong>Hyperliens vers notre contenu</strong></h4>

<p>Les organisations suivantes peuvent crer des liens vers notre site Web sans autorisation crite pralable:</p>

<ul>
    <li>Agences gouvernementales;</li>
    <li>Moteurs de recherche;</li>
    <li>Organismes de presse;</li>
    <li>Les distributeurs d'annuaires en ligne peuvent crer des liens vers notre site Web de la mme manire qu'ils crent des hyperliens vers les sites Web d'autres entreprises rpertories ; et</li>
    <li>Entreprises accrdites l'chelle du systme, à l'exception des organisations but non lucratif, des centres commerciaux caritatifs et des groupes caritatifs de collecte de fonds qui ne peuvent pas crer de lien hypertexte vers notre site Web.</li>
</ul>

<p>Ces organisations peuvent crer des liens vers notre page d'accueil, vers des publications ou vers d'autres informations du site Web condition que le lien: (a) ne soit en aucun cas trompeur; (b) n'implique pas faussement le parrainage, l'approbation ou l'approbation de la partie tablissant le lien et de ses produits et/ou services; et (c) s'inscrit dans le contexte du site de la partie établissant le lien.</p>

<p>Nous pouvons examiner et approuver d'autres demandes de liens manant des types d'organisations suivants:</p>

<ul>
    <li>Sources d'informations courantes sur les consommateurs et/ou les entreprises;</li>
    <li>Sites communautaires dot.com;</li>
    <li>associations ou autres groupes reprsentant des œuvres caritatives;</li>
    <li>distributeurs d'annuaires en ligne;</li>
    <li>portails Internet;</li>
    <li>cabinets de comptabilit, d'avocats et de conseil; et</li>
    <li>tablissements d'enseignement et associations professionnelles.</li>
</ul>

<p>Nous approuverons les demandes de lien de ces organisations si nous dcidons que: (a) le lien ne nous fera pas paratre défavorable nous-mmes ou nos entreprises accrditées; (b) l'organisation n'a aucun dossier négatif chez nous; (c) le bnéfice que nous procure la visibilit de l'hyperlien compense l'absence de lou is bornante; et (d) le lien se trouve dans le contexte d'informations gnrales sur les ressources.</p>

<p>Ces organisations peuvent crer un lien vers notre page d'accueil condition que le lien: (a) ne soit en aucun cas trompeur; (b) n'implique pas faussement le parrainage, l'approbation ou l'approbation de la partie tablissant le lien et de ses produits ou services; et (c) s'inscrit dans le contexte du site de la partie tablissant le lien.</p>

<p>Si vous faites partie des organisations rpertories au paragraphe 2 ci-dessus et que vous souhaitez crer un lien vers notre site Web, vous devez nous en informer en envoyant un e-mail à lou is bornante. Veuillez inclure votre nom, le nom de votre organisation, vos coordonnes ainsi que l'URL de votre site, une liste de toutes les URL partir desquelles vous avez l'intention de créer un lien vers notre site Web et une liste des URL de notre site vers lesquelles vous souhaitez crer un lien. lien. Attendez 2 3 semaines pour une rponse.</p>

<p>Les organisations agres peuvent crer des hyperliens vers notre site Web comme suit:</p>

<ul>
    <li>En utilisant notre dnomination sociale; ou</li>
    <li>En utilisant le localisateur de ressources uniforme auquel vous tes lié; ou</li>
    <li>En utilisant toute autre description de notre site Web auquel un lien est li, qui est logique dans le contexte et le format du contenu sur le site de la partie tablissant le lien.</li>
</ul>

<p>Aucune utilisation du logo de lou is bornante ou d'autres illustrations ne sera autorise pour crer des liens en l'absence d'un accord de licence de marque.</p>

<h4><strong>iFrames</strong></h4>

<p>Sans approbation pralable et autorisation crite, vous ne pouvez pas crer de cadres autour de nos pages Web qui modifient de quelque manire que ce soit la présentation visuelle ou l'apparence de notre site Web.</p>

<h4><strong>Responsabilit relative au contenu</strong></h4>

<p>Nous ne serons pas tenus responsables de tout contenu apparaissant sur votre site Web. Vous acceptez de nous protger et de nous dfendre contre toutes rclamations qui surgissent sur votre site Web. Aucun lien ne doit apparaître sur un site Web qui pourrait tre interprt comme diffamatoire, obscne ou criminel, ou qui enfreint, viole d'une autre manire ou prne la violation ou toute autre violation des droits de tiers.</p>

<h4><strong>Votre confidentialité</strong></h4>

<p>Veuillez lire notre politique de confidentialit</p>

<h4><strong>Rservation des droits</strong></h4>

<p>Nous nous rservons le droit de vous demander de supprimer tous les liens ou tout lien particulier vers notre site Web. Vous acceptez de supprimer immdiatement tous les liens vers notre site Web sur demande. Nous nous rservons galement le droit de modifier ces termes et conditions et sa politique de liens tout moment. En crant un lien continu vers notre site Web, vous acceptez d'tre li et de suivre ces termes et conditions de liaison.</p>

<h4><strong>Suppression des liens de notre site Internet</strong></h4>

<p>Si vous trouvez un lien sur notre site Web qui est offensant pour quelque raison que ce soit, vous êtes libre de nous contacter et de nous informer tout moment. Nous examinerons les demandes de suppression de liens, mais nous ne sommes pas obligs de vous rpondre directement.</p>

<p>Nous ne garantissons pas que les informations prsentes sur ce site Web sont exactes, nous ne garantissons pas leur exhaustivit ou leur exactitude; nous ne promettons pas non plus de garantir que le site Web reste disponible ou que le contenu du site Web est tenu jour.</p>

<h4><strong>Avis de non-responsabilit</strong></h4>

<p>Dans toute la mesure permise par la loi applicable, nous excluons toutes les représentations, garanties et conditions relatives notre site Web et l'utilisation de ce site Web. Rien dans cette clause de non-responsabilit:</p>

<ul>
    <li>limiter ou exclure notre ou votre responsabilité en cas de dcs ou de blessures ;</li>
    <li>limiter ou exclure notre ou votre responsabilit en cas de fraude ou de fausse dclaration frauduleuse;</li>
    <li>limiter nos ou vos responsabilits d'une manire qui n'est pas autorise par la loi applicable; ou</li>
    <li>exclure toute de nos ou vos responsabilits qui ne peuvent pas tre exclues en vertu de la loi applicable.</li>
</ul>

<p>Les limitations et interdictions de responsabilit dfinies dans cette section et ailleurs dans cette clause de non-responsabilit: (a) sont soumises au paragraphe précdent ; et (b) rgissent toutes les responsabilits dcoulant de la clause de non-responsabilit, y compris les responsabilits dcoulant du contrat, de la responsabilit dlictuelle et de la violation d'une obligation lgale.</p>

<p>Tant que le site Web ainsi que les informations et services proposés sur le site Web sont fournis gratuitement, nous ne serons pas responsables de toute perte ou dommage de quelque nature que ce soit.</p>
{% endblock %}
